PORT=5001
MONGODB_URI=mongodb://127.0.0.1:27017/lastmile_delivery_tracker
JWT_SECRET=super_secret_jwt_key_lastmile_2026_xyz
CLIENT_URL=http://localhost:5173
NODE_ENV=development

# Optional Custom SMTP (leave empty to use automated Ethereal test inbox)
# SMTP_HOST=smtp.sendgrid.net
# SMTP_PORT=587
# SMTP_USER=apikey
# SMTP_PASS=your_sendgrid_key
